services:
  backend:
    image: "venu0/crud-dd-backend:latest"
    container_name: crud-dd-backend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  frontend:
    image: "venu0/crud-dd-frontend:latest"
    container_name: crud-dd-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  nginx:
    image: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

volumes:
  mongo-data:
